<div class="banner only-on-small-screen" style="text-align: right;">
  <small>UP TO</small><br>
  <strong class="text-brown" style="font-size: 1.20rem;">44%</strong><br>
  <small>OFF</small>
</div>
<div class="only-on-large-screen">
<div class="banner">
  <img class="banner__img" src="{{ site.baseurl }}/assets/img/pv-logo.png" style="width: 5rem; height: 5rem;">
  <img class="banner__img" src="{{ site.baseurl }}/assets/img/pv-text.png">
  <h1 class="banner__place text-uppercase">Ubud</h1>
  <div class="banner__text text-uppercase text-center">
    Discount Up To<br>
    <span class="text-brown" style="font-size: 4rem;">
      <strong>44%</strong>
    </span>
  </div>
  <div class="banner__inclusions">
    <div class="row">
      <div class="column full">
        Inclusions:
      </div>
    </div>
    <div class="row">
      <div class="column half">
        <img src="{{ site.baseurl }}/assets/img/pick-up.png">
        Pick Up
      </div>
      <div class="column half">
        <img src="{{ site.baseurl }}/assets/img/food.png">
        Food
      </div>
    </div>
    <div class="row">
      <div class="column half">
        <img src="{{ site.baseurl }}/assets/img/cocktail.png">
        Cocktail
      </div>
      <div class="column half">
        <img src="{{ site.baseurl }}/assets/img/spa.png">
        Spa
      </div>
    </div>    
  </div>
</div>
</div>

<div class="banner__bottom">
</div>