/* Components
*/

/* Wrapper */
.wrapper {
  margin: 0 auto;
  width: calc(100% - 2rem);
  max-width: 345px;
}

/* Card */
.card {
  /* @extend */
  @extend .wrapper;
  /* Flex Item */
  /* Display */
  display: flex;
  flex-direction: column;
  /* Position */
  /* Box */
  margin-bottom: 2rem;
  /* Font */
  /* Background */
  background: white;
  /* Border */
  /* Border Radius */
  border-radius: 20px;
  /* Box Shadow */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.161);
  /* Z Index */
  /* Transition */
  
  &__head,
  &__body,
  &__foot {
    position: relative;
    padding: 1.25rem 2rem;
  }
}

/* Button */
.button {
  /* @extend */
  /* Flex Item */
  /* Display */
  /* Position */
  /* Box */
  padding: 0.5rem 1rem;
  /* Font */
  color: white;
  /* Background */
  background-color: skyblue;
  /* Border */
  border: 1px solid transparent;
  /* Border Radius */
  border-radius: 1rem;
  /* Box Shadow */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* Z Index */
  /* Transition */
  transition: box-shadow 0.15s ease-in-out;
  
  &:hover,
  &:focus {
    box-shadow: none;
  }
  
  &--small {
    font-size: 0.75rem;
  }
  
  &--large {
    font-size: 1.25rem;
  }
  
  &--block {
    display: block;
    width: 100%;
  }
  
  &--brown {
    background-color: #c59d5f;
  }
  
  &--blue {
    background-color: #067891;
  }
  
  &--brown-reverse {
    color: #c59d5f;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .fa-heart {
      font-weight: 400;
      transition: font-weight 0.15s ease-in-out;
    }
    
    &:hover .fa-heart,
    &:focus .fa-heart {
      font-weight: 900;
    }
  }
  
  &--black {
    background-color: #333;
  }
  
  &--no-box-shadow {
    box-shadow: none;
  }
}

/* Floating Element */
.float {
  position: absolute;
  width: 100%;
  
  &--on-card {
    width: calc(100% - 4rem);
  }
  
  &--top {
    top: 0;
  }
  
  &--top-min-1 {
    top: -1rem;
  }
  
  &--bottom-min-1 {
    bottom: -1rem;
  }
}

/* Owl Carousel */
.owl-carousel img {
  max-height: 400px;
}

/* Line */
.line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9px;
  background: linear-gradient(270deg, #d1dede 0%, #c59d5f 100%);
}

.banner {
  position: relative;
  top: 0;
  left: 2rem;

  width: calc(45px - 1rem);

  padding: 0.5rem;

  background: white;

  &__bottom {
    position: relative;
    left: 2rem;

    width: 25px;
    height: 0;

    @extend .only-on-small-screen;

    border-left: 45px solid white;
    border-bottom: 22.5px solid transparent;
  }
}

.owl-nav {
  display: none;
}

.owl-dots {
  position: absolute;
  bottom: 1rem;
  width: 100%;
}

// Media
.media {
  // Display
  display: flex;
  
  // Position
  
  // Box
  width: 100%;
  
  &__body {
    // Flex
    flex: 1;
    
    // Box
    margin-left: 1rem;
    padding: 0.5rem 0rem;
  }
}

/* Form */
input[type=text] {
  margin: 0.25rem 0rem 1rem;
  padding: 0.5rem 1rem;
  width: calc(100% - 2rem);
  
  background-color: rgba(0, 0, 0, 0.05);
  
  border: 1px solid transparent;
  border-radius: 9999px;
  
  &:focus {
    outline: none;
    border: 1px solid skyblue;
    border-radius: 9999px;
  }
  
  &.varian-1 {
    font-weight: bold;
    background-color: white;
  }
  
  &.varian-2 {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  &.half {
    width: calc(50% - 3rem);
  }
}
