// ======================================================================
// CONTENTS
//
// SETTINGS
// Global variables
// 
// TOOLS
// Mixins
// 
// GENERIC
// Normalize.css
// Better default of box-sizing
// 
// BASE
// Basic styling
// Spacing
// Typograph
// Links
//
// LAYOUT
// Container
// Row
// Columns
// 
// COMPONENTS
// Cards
// Buttons
//
// UTILITIES
// 
// =====================================================================

// SETTINGS
@import "partials/settings";

// TOOLS
@import "partials/tools";

// GENERIC
@import "partials/generic";

// BASE
@import "partials/base";

// LAYOUT
@import "partials/layout";

// COMPONENTS
@import "partials/components";

// UTILITIES
@import "partials/utilities";

// This style is temporary, will be deleted when the project is done
.trello {
  @extend .wrapper;
  padding: $spacer;
  
  font-family: monospace;
}

$white: #fff;
$black: #000;
$green: #28a745;
$red:   #dc3545;

.component-status {
  display:          block;
  
  margin:           $spacer;
  padding:          $spacer/2 $spacer;
  
  color:            $white;
  background-color: $black;
  
  &--is-done {
    color:            $white;
    background-color: $green;
  }
  
  &--is-waiting-for-review {
    color:            $white;
    background-color: $red;
  }
}
