<!DOCTYPE html>
<html>
<head>
  
  {% include head.html %}

</head>
<body class="site">

  <section class="site__element-1">
    
    <div class="container">
      <div class="row">
        
        <div class="column full">

          {% include nav.html %}
          
        </div>

      </div>
    </div>

  </section>

  <section class="site__element-2">

    <div class="container">
      <div class="row">
        
        <div class="column full">
          
          {% include card.html %}

        </div>

      </div>
    </div>
    
  </section>

</body>
</html>