<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>La Belle Escape</title>
  <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- Owl Stylesheets -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/owl.theme.default.min.css">
</head>
<body class="site">

  <section class="site-header">
    <div class="container">

      <div class="row">
        <div class="column full">

          <nav class="nav">
            <!--
            <button class="nav__toggler button button--brown-reverse">
              <i class="fas fa-bars"></i>
            </button>-->
            
            <i class="nav__toggler fas fa-bars fa-lg"></i>

            <a class="nav__brand quicksand-r" href="#">
              La Belle <strong class="quicksand-b">Escape</strong>
            </a>

            <div class="nav__on-large-screen">
              <ul class="nav__list">
                <li class="nav__list__item">
                  <a class="text-brown" href="#">About Us</a>
                </li>
                <li class="nav__list__item">
                  <a class="text-brown" href="#">Contact</a>
                </li>
                <li class="nav__list__item">
                  <a class="text-brown" href="#">Magazine</a>
                </li>
              </ul>
            </div>

            <div class="nav__call-to-action">
              <button class="button button--brown rounded">
                Login
              </button>
              <button class="button button--brown circled">
                <i class="fas fa-phone fa-flip-horizontal"></i>
              </button>
            </div>

          </nav>

        </div>
      </div>

    </div>
  </section>

  <section class="site-content">
    
    <div class="container">
      <div class="row">
        <div class="column full">
          
          <div class="card">
            <div class="card__header">
              <img class="card__img" src="{{ site.baseurl }}/assets/img/img-01.png">
              <div class="card__img--overlay">
                <div class="banner">
                  <img class="banner__img" src="{{ site.baseurl }}/assets/img/pv-logo.png" style="width: 5rem; height: 5rem;">
                  <img class="banner__img" src="{{ site.baseurl }}/assets/img/pv-text.png">
                  <h1 class="banner__place text-uppercase">Ubud</h1>
                  <div class="banner__text text-uppercase">
                    Discount Up To<br>
                    <span class="banner__text--big text-brown">
                      45%
                    </span>
                  </div>
                  <div class="banner__inclusions">
                    <div class="row">
                      <div class="column full">
                        Inclusions:
                      </div>
                    </div>
                    <div class="row">
                      <div class="column half">
                        <img src="{{ site.baseurl }}/assets/img/pick-up.png">
                        Pick Up
                      </div>
                      <div class="column half">
                        <img src="{{ site.baseurl }}/assets/img/food.png">
                        Food
                      </div>
                    </div>
                    <div class="row">
                      <div class="column half">
                        <img src="{{ site.baseurl }}/assets/img/cocktail.png">
                        Cocktail
                      </div>
                      <div class="column half">
                        <img src="{{ site.baseurl }}/assets/img/spa.png">
                        Spa
                      </div>
                    </div>    
                  </div>
                </div>
                <div class="banner-mobile">
                  
                </div>
              </div>
            </div>
            <div class="card__line">
              <div class="card__line__info bg-brown text-white rounded">
                Deals Ends <strong>| 23 Days</strong>
              </div><!--
              <div class="card__line__love bg-white text-brown circled">
                <i class="fas fa-heart"></i>
              </div>-->
              <div class="card__line__love button button--brown-reverse circled">
                <i class="fas fa-heart"></i>
              </div>
            </div>
            <div class="card__body">
              <div class="row">
                <div class="column two-thirds">
                  <p class="text-yellow">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </p>
                  <h2>
                    The Purist Villa
                    <small class="text-muted">| Ubud, Bali</small>
                  </h2>
                  <p class="small text-blue">
                    <img src="{{ site.baseurl }}/assets/img/ta-logo.png" style="width: 1.6rem; margin-bottom: -3px;">
                    <i class="fab fa-tripadvisory"></i>
                    <i class="far fa-dot-circle"></i>
                    <i class="far fa-dot-circle"></i>
                    <i class="far fa-dot-circle"></i>
                    <i class="far fa-dot-circle"></i>
                    <i class="far fa-circle"></i>
                    <span>(183 Reviews)</span>
                  </p>
                  <p>
                    Caption goes here, maximum two paragraph
                  </p>
                </div>
                <div class="column third">
                  <div class="box box--bordered--only-left">
                    <p>
                      Package 3 - 5 Nights  
                    </p>
                    <p>
                      <del>
                        <strong>
                          Rp. 2.500.000
                        </strong>
                      </del>
                      <span class="text-brown">
                        | Rp. 1.500.000
                      </span>  
                    </p>
                  </div>
                  <button class="button button--brown rounded">
                    View Details
                  </button>
                </div>
              </div>
              <style>
                .inclusions--on-small {
                  display: block;
                }
                
                @media (min-width: 768px) {
                  .inclusions--on-small {
                     display: none;
                  }
                }
              </style>
              <div class="inclusions--on-small">
                <div class="row">
                  <div class="column fourth text-center">
                    <i class="fas fa-hotel"></i>
                  </div>
                  <div class="column fourth text-center">
                    <i class="fas fa-hotel"></i>
                  </div>
                  <div class="column fourth text-center">
                    <i class="fas fa-hotel"></i>
                  </div>
                  <div class="column fourth text-center">
                    <i class="fas fa-hotel"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card__header">
              <img class="card__img" src="{{ site.baseurl }}/assets/img/img-02.png">
              <div class="card__img--overlay">
                <div class="banner">
                  <img class="banner__img" src="{{ site.baseurl }}/assets/img/pv-logo.png" style="width: 5rem; height: 5rem;">
                  <img class="banner__img" src="{{ site.baseurl }}/assets/img/pv-text.png">
                  <h1 class="banner__place text-uppercase">Ubud</h1>
                  <div class="banner__text text-uppercase">
                    Discount Up To<br>
                    <span class="banner__text--big text-brown">
                      45%
                    </span>
                  </div>
                  <div class="banner__inclusions">
                    <div class="row">
                      <div class="column full">
                        Inclusions:
                      </div>
                    </div>
                    <div class="row">
                      <div class="column half">
                        <img src="{{ site.baseurl }}/assets/img/pick-up.png">
                        Pick Up
                      </div>
                      <div class="column half">
                        <img src="{{ site.baseurl }}/assets/img/food.png">
                        Food
                      </div>
                    </div>
                    <div class="row">
                      <div class="column half">
                        <img src="{{ site.baseurl }}/assets/img/cocktail.png">
                        Cocktail
                      </div>
                      <div class="column half">
                        <img src="{{ site.baseurl }}/assets/img/spa.png">
                        Spa
                      </div>
                    </div>    
                  </div>
                </div>
                <div class="banner-mobile">
                  
                </div>
              </div>
            </div>
            <div class="card__line">
              <div class="card__line__info bg-brown text-white rounded">
                Deals Ends <strong>| 23 Days</strong>
              </div>
              <div class="card__line__love button button--brown-reverse circled">
                <i class="fas fa-heart"></i>
              </div>
            </div>
            <div class="card__body">
              <div class="row">
                <div class="column two-thirds">
                  <p class="text-yellow">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </p>
                  <h2>
                    The Purist Villa
                    <small class="text-muted">| Ubud, Bali</small>
                  </h2>
                  <p class="small text-blue">
                    <img src="{{ site.baseurl }}/assets/img/ta-logo.png" style="width: 1.6rem; margin-bottom: -3px;">
                    <i class="fab fa-tripadvisory"></i>
                    <i class="far fa-dot-circle"></i>
                    <i class="far fa-dot-circle"></i>
                    <i class="far fa-dot-circle"></i>
                    <i class="far fa-dot-circle"></i>
                    <i class="far fa-circle"></i>
                    <span>(183 Reviews)</span>
                  </p>
                  <p>
                    Caption goes here, maximum two paragraph
                  </p>
                </div>
                <div class="column third">
                  <div class="box box--bordered--only-left">
                    <p>
                      Package 3 - 5 Nights  
                    </p>
                    <p>
                      <del>
                        <strong>
                          Rp. 2.500.000
                        </strong>
                      </del>
                      <span class="text-brown">
                        | Rp. 1.500.000
                      </span>  
                    </p>
                  </div>
                  <button class="button button--brown rounded">
                    View Details
                  </button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </section>

</body>
</html>
