<!DOCTYPE html>
<html>
<head>
  
  {% include head.html %}

</head>
<body>

  {{ content }}
  
<!-- Review Card -->
<div class="card">
  <div class="card__body">
    <p>
      <small>
        Reviewed by
      </small>
    </p>
    <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/telegraph.svg">
    <p>
      <small>
        <i class="fas fa-star text-yellow"></i>
        <i class="fas fa-star text-yellow"></i>
        <i class="fas fa-star text-yellow"></i>
        <i class="fas fa-star text-yellow"></i>
        <i class="far fa-star text-yellow"></i>
        (4/5)
      </small>
    </p>
    <h4><strong>Title or Quote</strong></h4>
    <p>
      <small>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
      </small>
    </p>
  </div>
</div>

<!-- Review Card -->
<div class="card">
  <div class="card__body">
    <p>
      <i class="fas fa-star text-yellow"></i>
      <i class="fas fa-star text-yellow"></i>
      <i class="fas fa-star text-yellow"></i>
      <i class="fas fa-star text-yellow"></i>
      <i class="far fa-star text-yellow"></i>
    </p>
    <h3><strong>The Purist Villas</strong></h3>
    <p>
      <small>
        <i class="fas fa-map-marker-alt"></i>
        Ubud, Bali
      </small>
    </p>
    <p>
      <button class="button button--small button--brown button--no-box-shadow">Wellness</button>
      <button class="button button--small button--brown button--no-box-shadow">Wellness</button>
      <button class="button button--small button--brown button--no-box-shadow">Wellness</button>
    </p>
    <h5><strong>Marketing Caption</strong></h5>
    <p>
      <small>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </small>
    </p>
    <p>
      <small>
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
      </small>
    </p>
  </div>
</div>

<!-- Price Card -->
<div class="card">
  <div class="card__head">
    <div class="flex just-cont--sb">
      <button class="button button--brown button--no-box-shadow">
        Price Detail
      </button>
      <i class="far fa-2x fa-file"></i>
    </div>
  </div>
  <div class="card__body">
    <p>
      <strong>The Purist Villas | Ubud</strong><br>
      3 Nights at Garden Suite Room
    </p>
  </div>
  <div class="card__foot">
    <div class="flex just-cont--sb align-items--end border border--bottom border--brown mb-3 pb-2">
      <h1 class="text-brown">Rp. 5.500.000</h1>
      <span class="mb-0">Transfer Amount</span>
    </div>
    <p>
      per package<br>
      inclusive of taxes
    </p>
  </div>
</div>

<!-- Voucher Card -->
<div class="card text-white voucher--blue">
  <div class="card__head">
    <div class="flex just-cont--ed align-items--center">
      <p class="mr-2 pr-2 mb-0 font-quicksand text-right border border--right border--white">
      Credit Voucher<br>
      La Belle <strong>Escape</strong>
    </p>
      <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-gift.svg" style="width: 2rem; height: 2rem;">
    </div>
  </div>
  <div class="card__body">
    <h1>
      <strong>10% OFF</strong> | for the next booking
    </h1>
  </div>
  <div class="card__foot">
    <p>
      *Terms and Condition Written Here
    </p>
    <div class="float float--on-card float--bottom-min-1">
      <div class="flex just-cont--ct">
        <button class="button button--brown">
          Use Now
        </button>
      </div>
    </div>
  </div>
</div>
<p class="text-center">
  Credit Voucher Expired In
</p>
<h1 class="text-center pb-5">
  <strong>
    20 Days
  </strong>
</h1>

<!-- Voucher Card -->
<div class="card text-white voucher--black">
  <div class="card__head">
    <div class="flex just-cont--ed align-items--center">
      <p class="mr-2 pr-2 mb-0 font-quicksand text-right border border--right border--white">
      Credit Voucher<br>
      La Belle <strong>Escape</strong>
    </p>
      <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-gift.svg" style="width: 2rem; height: 2rem;">
    </div>
  </div>
  <div class="card__body">
    <h1>
      <strong>40% OFF</strong> | for the next booking
    </h1>
  </div>
  <div class="card__foot">
    <p>
      *Terms and Condition Written Here
    </p>
    <div class="float float--on-card float--bottom-min-1">
      <div class="flex just-cont--ct">
        <button class="button button--brown">
          Use Now
        </button>
      </div>
    </div>
  </div>
</div>
<p class="text-center">
  Credit Voucher Expired In
</p>
<h1 class="text-center pb-5">
  <strong>
    20 Days
  </strong>
</h1>

<!-- Transfer Information Card -->
<div class="card text-white voucher--black">
  <div class="card__head">
    <div class="flex just-cont--sb">
      <span>Please transfer to:</span>
      <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/logo-bank-bca.svg">
    </div>
  </div>
  <div class="card__body">
    <span>Bank BCA Account Number:</span>
    <h2>
      <strong>
        065 - 2345 - 1212
      </strong>
    </h2>
  </div>
  <div class="card__foot">
    <div class="flex just-cont--sb">
      <p>
        Bank Code:<br>
        <strong>014</strong>
      </p>
      <p>
        Account Holder Name:<br>
        <strong>La Belle Escape</strong>
      </p>
    </div>
  </div>
</div>

<!-- Transfer Information Card -->
<div class="card">
  <div class="card__head">
    <div class="flex just-cont--sb">
      <strong>Please transfer to:</strong>
    </div>
  </div>
  <div class="card__body">
    <div class="flex just-cont--sb">
      <p class="flex-10">
        Bank Code:<br>
        <strong>008</strong>
      </p>
      <p class="flex-grow pl-5">
        Account Number:<br>
        <strong>165 - 650 - 034 - 273</strong>
      </p>
    </div>
  </div>
  <div class="card__foot">
    <div class="flex just-cont--sb">
      <img class="flex-10" src="https://eighthijr.github.io/labelleescape/assets/img/svg/logo-bank-mandiri.svg">
      <p class="flex-grow pl-5">
        Account Holder Name:<br>
        <strong>La Belle Escape</strong>
      </p>
    </div>
  </div>
</div>

<!-- Credit Card Information Card -->
<div class="card text-white voucher--blue">
  <div class="card__head pb-0">
    <p>
      <strong>Credit Card |</strong>
      Fill Up The Information
    </p>
  </div>
  <div class="card__body">
    <form>
      Card Number
      <input class="varian-1" type="text">
      Name On Card
      <input class="varian-1" type="text">
      <div class="flex just-cont--sb">
        <div class="flex flex--column pr-2">
          Expire Date
          <input class="varian-1" type="text">
        </div>
        <div class="flex flex--column pl-2">
          CVV
          <input class="varian-1" type="text">
        </div>
      </div>
      <div class="flex align-items--center">
        <input type="checkbox">
        <label>
          Save My Card Details
        </label>
      </div>
    </form>
  </div>
</div>

<!-- Credit Card Information Card -->
<div class="card">
  <div class="card__head pb-0">
    <p>
      <strong>Credit Card |</strong>
      Fill Up The Information
    </p>
  </div>
  <div class="card__body">
    <form>
      Card Number
      <input class="varian-2" type="text">
      Name On Card
      <input class="varian-2" type="text">
      <div class="flex just-cont--sb">
        <div class="flex flex--column pr-2">
          Expire Date
          <input class="varian-2" type="text">
        </div>
        <div class="flex flex--column pl-2">
          CVV
          <input class="varian-2" type="text">
        </div>
      </div>
      <div class="flex align-items--center">
        <input type="checkbox">
        <label>
          Save My Card Details
        </label>
      </div>
    </form>
  </div>
</div>

<!-- Number of Nights Card -->
<div class="card">
  <div class="card__head bg-blue text-white border-radius border-radius--all-top">
    <h2>
      <strong>3 or 4 Nights Package</strong>
    </h2>
  </div>
  <div class="card__body py-3">
    <h3>
      <strong>Garden Suite Room</strong>
    </h3>
    <p>
      Adults 2 | Kids 1
    </p>
    <p class="pt-3">
      <strong>4/8 Additional Benefit</strong>
    </p>
    <div>
      <div class="flex just-cont--sb" >
        <span class="flex-grow">
          Breakfast for 2
        </span>
        <span>Free Bike</span>
      </div>
      <div class="flex just-cont--sb">
        <span>Pick Up Service</span>
        <span>20% Discount F&B</span>
      </div>
    </div>
    <p class="pt-3">
      <i class="fas fa-info-circle"></i>
      <a href="#">What is buy now book later?</a>
    </p>
  </div>
  <div class="card__foot bg-blue text-white border-radius border-radius--all-bottom">
    <div class="float float--on-card float--top-min-1">
      <div class="flex just-cont--sb">
        <button class="button button--black text-uppercase">
          Buy Now Book Later
        </button>
        <button class="button button--brown text-uppercase">
          Book Now
        </button>
      </div>
    </div>
    <div class="flex just-cont--sb align-items--center pt-3">
      <div>
        <h2><del><small>Rp. 6.200.000</small></del></h2>
        <h2><strong>Rp. 2.500.000</strong></h2>
        <small>per night | inclusive of taxes</small>
      </div>
      <h3 class="text-center">
        Save Up To<br>
        <strong>40% OFF</strong>
      </h3>
    </div>
  </div>
</div>

<!-- Nearby Attraction Card -->
<div class="card">
  <div class="card__body">
    <h3>
      <strong>
      <span class="text-brown">Nearby</span> Attraction
      </strong>
    </h3>
    <p>
      <small>
        <i class="fas fa-map-marker-alt"></i>
        The Purist Villas, Bali, Indonesia
      </small>
    </p>
  </div>
</div>

<!-- Maps of Attraction Card -->
<div class="card">
  <div class="card__head">
    <h3>
      <strong>
      <span class="text-brown">Maps of</span> Attraction
      </strong>
    </h3>
  </div>
  <div class="card__body p-0 border-radius border-radius--all-bottom ">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31568.27255541584!2d115.24852980022882!3d-8.496068314206086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd23d739f22c9c3%3A0x54a38afd6b773d1c!2sUbud%2C+Kabupaten+Gianyar%2C+Bali!5e0!3m2!1sid!2sid!4v1551660891835" width="100%" height="50%" frameborder="" style="" allowfullscreen></iframe>
    <style>
      iframe {
        border-radius: 1rem;
      }
    </style>
  </div>
</div>

<!-- Destination Top Picks Card -->
<div class="card">
  <div class="card__head">
    <h3>
      <strong>
      <span class="text-brown">Destination</span> Top Picks
      </strong>
    </h3>
  </div>
  <div class="card__body p-0">
    <div class="float float--on-card float--bottom-min-1">
      <button class="button button--brown ml-5">
        10 Popular Places in Bali
      </button>
    </div>
    <img class="border-radius border-radius--all-bottom" src="https://source.unsplash.com/vMKkBCBozbw" style="width: 100%;">
  </div>
</div>

<!-- About Us Card -->
<div class="card">
  <div class="card__head p-0">
    <img class="border-radius border-radius--all-top" src="https://source.unsplash.com/U6t80TWJ1DM" style="width: 100%;">
  </div>
  <div class="card__body">
    <div class="float float--on-card float--top float--top-min-1">
      <button class="button">
        <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-share.svg">
      </button>
    </div>
    <h3 class="pb-3">
      What so great about<br>
      <strong>La Belle Escape</strong>
    </h3>
    <p style="text-align: justify;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare purus vitae velit dapibus sodales. Praesent efficitur orci mauris, id accumsan orci interdum quis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </p>
    <p style="text-align: justify;">
      Pellentesque gravida ipsum id mi ullamcorper, ut sodales tellus tristique. Vestibulum dictum venenatis eros, sed aliquet quam bibendum sit amet. Cras cursus leo nec odio laoreet, ut efficitur justo commodo. Nullam feugiat mi sit amet luctus fringilla.
    </p>
  </div>
</div>

<!-- Room Summary Component Card -->
<div class="card">
  <div class="card__head p-0">
    <img class="border-radius border-radius--all-top" src="https://source.unsplash.com/76-58HpxvpQ" style="width: 100%;">
  </div>
  <div class="card__body">
    <div class="flex pb-3" style="margin: 0 -2rem; padding-left: 2rem;">
      <div class="column column--70">
        <h2>
          <strong>Pool Villas</strong>
        </h2>
        <small>
          <i>*Minimum 3 Nights Stay</i> | <a href="#">Room Details</a>
        </small>
      </div>
      <div class="column column--30">
        <button class="button button--block button--blue button--no-box-shadow" style="border-radius: 1rem 0 0 1rem;">
          <strong>30% OFF</strong>
        </button>
      </div>
    </div>
    <div class="flex pb-3">
      <div class="column column--50">
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-room-size.svg" style="width: 1rem; height: 1rem;">
          Room Size: <strong>120 Sqm</strong>
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-adult-child.svg" style="width: 1rem; height: 1rem;">
          Adults: <strong>2</strong> | Child: <strong>1</strong>
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-bed-king-or-twin.svg" style="width: 1rem; height: 1rem;">
          Bed: <strong>King or Twin</strong>
        </span>
      </div>
      <div class="column column--50">
        Starting From
        <h2 class="text-brown">
          Rp. 5.500.000
        </h2>
        <small>
          per night | inclusive of taxes
        </small>
      </div>
    </div>
    <div class="flex pb-3">
      <div class="column column--100 pb-2">
        <strong>
          Additional Benefit:
        </strong>
      </div>
      <div class="column column--50">
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-breakfast.svg" style="width: 1rem; height: 1rem;">
          Breakfast for 2
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-pickup.svg" style="width: 1rem; height: 1rem;">
          Pick Up Services
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-welcome-drink.svg" style="width: 1rem; height: 1rem;">
          Welcome Drinks
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-tea-time-and-snack.svg" style="width: 1rem; height: 1rem;">
          Tea Time and Snacks
        </span>
      </div>
      <div class="column column--50">
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-bike.svg" style="width: 1rem; height: 1rem;">
          Free Bike
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-fnb.svg" style="width: 1rem; height: 1rem;">
          20% Discount F&B
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-spa.svg" style="width: 1rem; height: 1rem;">
          20% Discount Spa
        </span>
        <span class="block pb-2">
          <img src="https://eighthijr.github.io/labelleescape/assets/img/svg/icon-fruit.svg" style="width: 1rem; height: 1rem;">
          Fresh Fruit
        </span>
      </div>
    </div>
    <div class="flex just-cont--ct">
      <button class="button button--brown">
        Select
      </button>
    </div>
  </div>
</div>

</body>
</html>
